{% extends "base.html" %}
{% block content %}
  <h1>{{ title.name }}</h1>
  {% if title.winner %}
    <h3><a href="{{ url_for('.player_view', player_id=title.winner.id) }}">{{ title.winner  }}</a></h3>
  {% else %}
    <h3>-</h3>
  {% endif %}
  <h4><a href="{{ url_for('.list_titles', country=title.country) }}">{{ title.country }}</a></h4>
  <h4>{{ title.holding }}</h4>
  <p>Description</p>
  {% for tour in title.tournaments %}
    <li>{{ title.name }}-{{ tour.holding }}</li>
  {% endfor %}  
{% endblock  %}

